.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-top: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
.addtask_container {
    margin-top: 50px;
    
}
.delete_container{
    margin-bottom: 100px
}
.edittask_container{
    margin-bottom:40px;
}
